.nav {
  grid-area: n;
  background-color: rgb(83, 156, 216);
}

.item {
  padding-left: 20px;
}
.item a {
  color: white;
  text-decoration: none;
}
.item a.activeLink {
  color: rgb(255, 0, 0);
}

.settings {
  color: white;
  padding: 20px;
  text-decoration: none;
}

.friends {
  padding: 20px;
}
