.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogItem {
  padding: 10px;
  text-decoration: none;
}

.dialogItem .active {
  text-decoration: none;
}

.messages img {
  padding: 5px;
}
.message {
  color: red;
}

.dialogs img {
  width: 20px;
  padding: 5px;
}
